body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 20px;

}


.header{
    background-color:#eddcd2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 5px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.logo img{
  width: auto;
  height: 150px;
}


.links li{
    display: inline-block;
    padding: 0 20px;
}


.links a{
    color: #20c230;
    text-decoration: none;
}

.links li a:hover{
    color: rgb(25, 22, 22);
}

button{
    margin-left: 20px;
    font-weight: 900;
    color: #b75c4e ;
    padding: 10px 30px;
    background: rgb(205, 163, 163);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.header .btn :hover{
    background-color:#010101 ;
    color: #c3b3a8;
}








  
  nav a {
	color: #0f2073;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.5s ease-in-out;
    
  }
  
  nav a:hover {
	color: #a2b700;
	background-color: #de0d0d;
	padding: 10px;
	border-radius: 5px;
  }
  

  .presentacion {
	background-color: #0fc6c0;
	padding: 20px 10px;
	text-align: center;
  }
  
  .presentacion h2 {
	font-size: 36px;
	margin-bottom: 10px;

  }
  
  .presentacion p {
	font-size: 18px;
	line-height:1.5;
	margin-bottom: 40px;

  }
  
  .presentacion button {
	background-color: #0d0d0d;
	border: none;
	color: #FFF;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
  }
  
  .presentacion button:hover {
	background-color: #f5ac02;
  }
  
  .section {
	display: flex;
	justify-content: space-between;
	padding: 60px 20px;
	background-color: #ffffff;
  }
  
  .section h3 {
	font-size: 30px;
	margin-bottom: 40px;
  }
  
  .section .imagen {
	width: calc(33.33% - 20px);
	text-align: center;
	background-color: #FFF;
	box-shadow: 0px 0px 10px rgba(95, 5, 251, 0.1);
	padding: 40px;
	transition: box-shadow 0.2s ease-in-out;
  }
  
  .section .imagen:hover {
	box-shadow: 0px 0px 15px rgba(250, 4, 4, 0.968);
  }
  
  .section img {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
  }
  
  .section h4 {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  .section p {
	font-size: 16px;
	line-height: 1.5;
  }


  

/* Estilos CSS para la sección de beneficios */
.beneficios {
  background-color: #ffffff;
  padding: 40px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.card {
  background-color: #714747;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #000000;
}

.card:hover {
  box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #050404;
}







/* Estilos CSS para la sección de contacto y footer */
.contacto {
  background-color: #dd8d8d;
  padding: 10px;
  text-align: center;
  
}


.contacto h3 {
  font-size: 30px;
  margin-bottom: 2px;
}

.contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info {
  flex: 1;
  text-align: left;
}

.mapa {
  flex: 1;
}






.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

 .logo {
  margin-bottom: 10px;
}

 .redes-sociales a {
  display: inline-block;
  margin: 0 52px;
  text-decoration: none;
}

 .creditos {
  font-size: 14px;
  color: #070707;
}

.redes-sociales a{
    width: 50px;

}
.redes-sociales img {
  width: 100%;
}



